.one{
    background-color: rgb(6, 135, 135);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.two{
    background-color: rgb(244, 239, 240);
    font-style: normal;
    font-size: large;
    
}

